* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main {
    font-family: 
} */

header {
    background-color: #033a78;
    color: #ffffff;
    margin: 2px;
    padding: 20px;
    border-radius: 10px;
}

nav {

}

.info {
    margin: 2px;
    padding: 20px;
}
.filter-box {
    background-color: #f0edee; 
    margin: 2px;
    padding: 20px;
    border-radius: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
.filter-opt {
    
    padding: 5px;
    width: 25%;
    display: block;
}
.dog {
    margin: 5px;
    display: block;
    max-width: 375px;
}

.dog-thumb {
    width: 375px;  
}

.dog-tag {
    background-color: #8dddf1;
    padding: 2px;
    border-radius: 10px;
    list-style: none;
    display: inline;
    flex-wrap: flex;
    line-height: 2rem;
}

footer {

}