* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #033a78;
    color: #ffffff;
    margin: 2px;
    padding: 20px;
    border-radius: 10px;
}

nav {

}

.info {
    margin: 2px;
    padding: 20px;
}
.filter-box {
    background-color: #f0edee; 
    margin: 2px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
}
.filter-opt {
    margin: 2px;
    padding: 10px;
}


.dog-thumb {
    width: 250px;  
}

.dog-tag {

}

footer {

}